.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  font-family: var(--playFair);
  font-size: var(--header-font-size);
  line-height: 2;
  color: var(--vinoTinto);
  text-align: center;
  margin-bottom: 30px;
}

.container > p {
  line-height: 1.5;
  color: var(--main-grey);
  font-size: var(--para-font-size);
  text-align: center;
}
